@import "./theme.scss";
@import "./anims.scss";
@import "./typography.scss";
@import "./flex.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	color: $text-color;
	background-color: $background-color;
	text-shadow: 0 0 1px #121212;

	@media screen and (min-width: 1600px) {
		font-size: 24px;
	}
}

h1 {
	font-size: 3.3em;
	font-weight: 700;
	text-shadow: 0 0 2px #121212;
}


a {
	color: inherit;
}

.primary-c {
	color: $primary-color;
}

.primary-b {
	background-color: $primary-color;
}

#twgl-canvas {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: -1;
}