$dark: #000000;
$primary: #02FF92;
$secondary: #FF00DC;
$light: #FFFFFF;

$mdc-theme-primary: $primary;
$mdc-theme-secondary: $secondary;
// Other Svelte color: #40b3ff

$mdc-theme-background: $dark;
$mdc-theme-surface: $dark;

$mdc-theme-error: rgb(255, 0, 119);

body {
  background-color: $mdc-theme-background;
}